*{
    margin: 0;
    padding: 0;
}

.genderblock {
    margin: 0 0 0 20px;
}

.selectquali {
    margin: 0 0 0 16px;
}

.mainimg {
    background-image: url(drop.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background: rgb(29 5 163/50%);
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    border: 5px solid;
    border-radius: 17px;
}

.heading {
    text-decoration: underline;
}